@media only screen and (max-width: 1000px) {
  .products-section {
    justify-content: space-around;
    /* flex-direction: column; */
  }
}

@media only screen and (max-width: 520px) {
  .search-gap {
    display: none;
  }

  .navigation a {
    font-size: 11px;
  }

  .menu-profile {
    display: none;
  }
}
