* {
  box-sizing: border-box;
}

body {
  background: #212734 0% 0% no-repeat padding-box;
  font-family: "roboto-reg";
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 850px;
  overflow-x: hidden;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */
.inner-header {
  width: 100%;
  overflow: hidden;
}

.primary-menu {
  background: #31394c 0% 0% no-repeat padding-box;
  border-bottom: 2px solid #3d465e;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

.primary-menu .primary-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 35px;
  width: 35px;
}

.primary-logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.navigation {
  background: #31394c 0% 0% no-repeat padding-box;
  border-bottom: 2px solid #3d465e;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: 28px;
}

.navigation .navlink {
  color: #ffffff;
  opacity: 0.3;
  font-size: 13px;
  font-family: "roboto-bold";
}

.navigation .navlink:hover {
  opacity: 1;
}

.search-gap {
  height: 2.4rem;
  width: 13rem;
  position: relative;
}

.search-gap button {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  opacity: 0.4;
  background: none;
  color: inherit;
  cursor: pointer;
}

.search-gap input {
  background: transparent;
  width: 100%;
  height: 100%;
  border: 2px solid #3d465e;
  border-radius: 25px;
  opacity: 1;
  outline: none;
  color: #fff;
  padding-left: 15%;
  font-size: 12px;
}

.auth-link {
  color: #fff;
  opacity: 0.6;
  font-family: "panton-bold";
  font-size: 13px;
  margin-left: 10px;
}

.auth-link:hover {
  opacity: 1;
}

/* header */

/* products */

.products-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.product {
  width: 255px;
  height: 300px;
  background: #31394c 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #0000000f;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product:hover .product-title {
  opacity: 1;
}

.product-img {
  width: 100%;
  height: 60%;
}

.product-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.product-desc {
  width: 100%;
  height: 83%;
  border-bottom: 2px solid #3d465e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 17%;
  padding: 15px;
}
.product-price .price {
  color: #fff;
  font-family: "Panton-Bold";
  opacity: 0.6;
  font-size: 14px;
}

.product-price button {
  background: #3d465e;
  border-radius: 10px;
  height: 2rem;
  width: 4rem;
  font-family: "Roboto-Bold";
  font-size: 12px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.6;
}

.product-price button:hover {
  opacity: 0.9;
}

.product-title {
  color: #fff;
  opacity: 0.7;
  font-size: 14px;
  font-family: "Roboto-Medium";
  margin-top: 20px;
}

.showmore-btn {
  width: 8rem;
  border-radius: 20px;
  background: none;
  border: 2px solid #3d465e;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Panton-Bold";
  font-size: 14px;
  height: 3rem;
  margin-top: 5px;
  text-align: center;
}

/* products */

/* footer */
.inner-footer {
  min-height: 5vh;
  background-color: #293246;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 13px;
  font-family: "Panton-Bold";
  color: rgba(255, 255, 255, 0.4);
}
/*  */
